* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(#141e30, #243b55);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: #333;
}
